#item{
display: flex;
justify-content: space-evenly;
justify-content: space-evenly;
background-color: rgb(39, 38, 38);
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
color: white;
margin-top: 0px;
height: 60px;
width: 90%;
padding-top: 50px;
justify-content: space-around;
padding-bottom: 20px;
}
#black{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#number{
display: flex;
gap:50px;

}
#number span{
text-decoration: underline orangered;


}
#for button{
background-color: transparent;
height: 50px;
width: 100px;
color: white;
border-radius: 10px;
border-color: orangered;
margin-bottom: 50px;
transition-duration: 0.5s;
cursor: pointer;

}
#pick img{
margin-bottom: 50px;

}
#odd span{
    color: orangered;
    font-size: 100px;
}
#odd p{
color: grey;


}
#odd button{
background-color: orangered;
color: white;
height: 50px;
width: 200px;
border-radius: 15px;
border: none;
}
#odd h3{
color: grey;
}
#mark img{
height: 60px;
width:60px;
border-radius:50%;
gap: 30px;
 object-fit: cover; 
/* I need to style these circles */

}
#odd label{
font-size: 100px;

}
#made img{
width: 20px;
height: 20px;
padding-bottom: 100px;
padding-left: 300px;
margin-bottom: 50px;


}
#mark{
/* display: flex; */
/* justify-content:space non; */

}
#root{
 display: flex;  
  
}
#grey{
    color: grey;
}
#two img{
height: 500px;
width: 500px;
border-radius: 50%;
 object-fit: cover; 
color: orangered;
padding-bottom: 20px;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
margin-top: 30px;
border-style:dashed ;
scrollbar-arrow-color: orangered;
scrollbar-arrow: dotted;

}
.tool{
    /* position: absolute; */
    left: 55px;
}

#even{
display: flex;
justify-content: space-evenly;
justify-content: space-around;
justify-content: center;
}
#main2 button{
height: 20px;
height: 50px;
margin-top: 100%;
border: none;
background-color: rgb(227, 234, 241);
padding-bottom: 10px;


}
#main2 img{
height: 20px;
width: 20px;

}
#fast img{
height: 20px;
width: 20px;

}
#made2 img{
height: 20px;
width: 20px;

}
#made2 button{
 height: 40px;  
 width: 130px; 
 border: none;
 background-color: rgb(227, 234, 241);
 margin-top: 20px;
 padding-bottom: 10px;
}

#fast button{
height: 40px;
width: 130px;
background-color: rgb(227, 234, 241);
border: none;
padding-bottom: 10px;
}
/* #complete{
display: flex;
justify-content: flex-end;

} */



#eat img{
height: 40px;
width: 40px;
object-fit: cover;
padding-right:70px;

background-position: left 20px;
    
}
/* #eat{
height: 50px;
    background-color: rgb(255, 254, 252);
    width: 200px;
} */






#stars img{
    height: 15px;
    width: 15px;
    

}
#rate button{
height: 70px;
width:150px ;

}
#rate span{
color: orange;

}
#rate{
 display: flex;   
}
#circle img{
border-radius: 50%;
height: 40px;
width: 40px;
object-fit: cover;
border:solid 1px;
border-color: rgb(255, 81, 0);


}
#set{
transform: rotate(220deg);

}
#set img{
height: 120px;
width: 150px;
object-fit: cover;

}
#menu{
display: flex;
justify-content: space-around;
justify-content: space-evenly;
justify-content: center;

}
#contain1 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
#contain2 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
#contain3 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
#contain4 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-color: pink;
    background: height 200px;;
    
}
#call{
display: flex;
justify-content: space-around;

}
#form{
display: flex;
justify-content: space-evenly;
justify-content: space-around;
justify-content: center;

}
#hide{
text-align: center;
font-size: larger;

}
#major span{
color: grey;


}

  #many img{
height: 400px;
width: 400px;
object-fit: cover;
  }

#hide p{
text-align: center;
font-size: x-large;
padding-bottom: 100px;
}
#container{
padding-left: 200px;
text-align: center;

}
#major p{
font-size: large;

}
#cons p{
font-weight: bold;

}

#formation h3{
color: black;
font-family:"League Gothic", Impact, sans-serif ;
letter-spacing:2px ;
text-transform: capitalize;
text-shadow: 0px 0px 7px;
font-size:60px;

}

h3 {
font-family: monospace;
font-size: 60px;
animation: color-change 1s infinite;
}

@keyframes color-change {
  0%{color: orange;}  
  50%{color: orangered;}
  100%{color: orange;}
}
